.topBar{
	position: fixed;
	width: 100%;
	font-family: "Arial Black";
	font-weight: bold;
}
.topBar_inner {

	padding: 25px 190px;
}
.topBar .logo {
	float: left;
	font-size: 30px;	
}
.topBar .logo .logo_rs {
	color: #E05962;
}
.topBar .logo .logo_card {
	color: #919499;
	margin-left: -5px;
}

.topBar nav{
	float: right;
	padding: 10px 0px;
	font-size: 20px;
}

.topBar nav>ul>li {
	float: left;
	margin: 0px 17.5px;
	position: relative;
}

.topBar nav>ul>li>a {
	color: #B9BBBE;
	padding-bottom: 5px;
	display: block;
	white-space: nowrap;
	text-align: center;
}

.topBar nav>ul>li>a:after {
	content: "";
	height: 3px;
	width: 0%;
	position: absolute;
	left: 0px;
	bottom: -5px;
	background-color: #E05962; 
	box-sizing: border-box;
	border-radius: 10px;
	transition: width 0.2s ease-out;
	
}


.topBar nav li:hover>a:after {
	width: 100% !important;
}

.banner{
	background-image: url(../img/rs-cover.jpg);
	background-size: cover;
	background-position: center;
	height: 515px;
}

.banner .mask{

	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

main .profile {

	max-width: 930px;
	margin: 0px auto;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	margin-top: -300px;
	z-index: 100;
	background: #fff;
}
main .summary{
	padding: 50px;
}
main .summary>.summary_avatar {
	float: left;
}
main .summary>.summary_detail {
	float: left;
	margin-left: 65px;
	width: 400px;
}	

main .summary>.summary_detail>.sayhi{
	
	background-color: #E05962;
	font-weight: bold;
	line-height: 20px;
	padding: 5px 10px;
	position: relative;
	
	
}

main .summary>.summary_detail>.sayhi:after{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	border-top: 12px solid #E05962;
	border-right: 12px solid transparent;
	position: absolute;
	left: 5px;
}

main .summary>.summary_detail>h1{

	margin-top: 18px;
	margin-bottom: 5px;
}
main .summary>.summary_detail>p{
	margin-top: 0px;
}
main .summary>.summary_detail>hr{

    margin: 30px 0px;
}

.summary_detail>dl>dd, .summary_detail>dl>dt {
	float: left;
	margin: 5px 0px;
}
.summary_detail>dl>dt{

	font-weight: bold;
	width: 30%;
}
.summary_detail>dl>dd{
	color: #9da0a7;
	width: 70%;
}
main footer.media a {
	display: inline-block;
	width: 40px;
	line-height: 30px;
	padding: 5px 0px;
	border-radius: 50%;
	margin: 16px 16px;
}
main footer.media  svg {

	width: 30px;
	height: 30px;
	fill: white;
	vertical-align: top;
}
main footer.media {
	background: #e6686a;
	text-align: center;
}

main footer.media a:hover {
	background: #cf5d5f;
}

main .donwload {

	display: block;
	margin: 30px auto;
	width: 280px;
	text-align: center;
	font-weight: bold;
	color: black;
	line-height: 30px;
	padding: 15px 0px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

