
/*共同局域*/
section.skills, section.portfolio, section.message{ max-width: 930px; margin: 0px auto; margin-top: 60px;}
section.skills>h2, section.portfolio>h2, section.message>h2{ text-align: center; color: #3d4451; font-size: 34px; line-height: 1.2em; font-weight: 600; }
[data-navitems].actived{ outline: 10px  solid rgba(224, 72, 12, 0.6);}
[data-navitems] {transform: translateY(0); transition: all 0.5s;}
[data-navitems].offset{ transform: translateY(100px);}


/*头部导航栏*/
.topBar{  color: #B9BBBE; position: fixed; width: 100%; font-family: "Arial Black"; font-weight: bold; transition: all 0.5s; padding: 25px 0px;}
.topBar.sticky{ background: white;  padding: 10px 0px; z-index: 1; box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); color: #3d4451;}
.topBar_inner { padding: 0px 190px; }
.topBar .logo { float: left; font-size: 30px; }
.topBar .logo .logo_rs { color: #E05962; }
.topBar .logo .logo_card { color: #919499; margin-left: -5px; }
.topBar nav{ float: right; padding: 10px 0px; font-size: 16px; }
.topBar nav>ul>li { float: left; margin: 0px 17.5px; position: relative}
.topBar nav>ul>li>a { color: inherit; padding-bottom: 5px; display: block;  position: relative; }
.topBar nav>ul>li>a:after { content: ""; height: 3px; width: 0%; position: absolute; left: 0px; top: 100%; background-color: #E05962; box-sizing: border-box; border-radius: 10px; transition: width 0.2s ease-out; }
.topBar nav li.actived>a:after,
.topBar nav li.highlight>a:after{ width: 100% !important; }
.topBar nav .submenu{ display: none; position: absolute; right: 0; top: 100%; background: white; color:#3d4451; margin-top: 4px; box-shadow: 0 0 5px rgba(0,0,0,.5); cursor: pointer; }
.topBar nav  li .submenu>li {white-space: nowrap;padding: 10px 25px;}
.topBar nav li.actived .submenu {display: block;animation: subMenuSlid 0.2s ease-in}

@keyframes subMenuSlid{
	0%{
		margin-right: 100%;
		opacity: 0;
	}
	100%{
		margin-right: 0%;
		opacity: 1;
	}
}

/*背景图*/
.banner{ background-image: url(../img/bg.png); background-size: cover; background-position: center; height: 515px; }
.banner .mask{ height: 100%; background: rgba(0, 0, 0, 0.4); }

/*名片卡*/
main { margin-top: -370px; }
main .profile { max-width: 930px; margin: 0px auto; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); background: #efefef; }
main .summary{ padding: 50px; }
main .summary>.summary_avatar { float: left; }
main .summary>.summary_detail { float: left; margin-left: 65px; width: 400px; }	
main .summary>.summary_detail>.sayhi{ background-color: #E05962; font-weight: bold; line-height: 20px; padding: 5px 10px; position: relative; border-radius: 6px; }
main .summary>.summary_detail>.sayhi:after{ content: ""; display: block; width: 0px; height: 0px; border-top: 12px solid #E05962; border-right: 12px solid transparent; position: absolute; left: 5px; }
main .summary>.summary_detail>h1{ margin-top: 18px; margin-bottom: 5px; }
main .summary>.summary_detail>p{ margin-top: 0px; }
main .summary>.summary_detail>hr{ margin: 30px 0px; }
main .summary_detail>dl>dd, .summary_detail>dl>dt { float: left; margin: 5px 0px; }
main .summary_detail>dl>dt{ font-weight: bold; width: 30%; }
main .summary_detail>dl>dd{ color: #9da0a7; width: 70%; }
main footer.media a { display: inline-block; width: 40px; line-height: 30px; padding: 5px 0px; border-radius: 50%; margin: 16px 16px; }
main footer.media  svg { width: 30px; height: 30px; fill: white; vertical-align: top; }
main footer.media { background: #e6686a; text-align: center; }
main footer.media a:hover { background: #cf5d5f; }
main .downloadResume { text-align: center; font-weight: bold; color: black;line-height: 30px; padding: 15px 55px;margin: 30px 0px; display: inline-block; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
main .downloadResume:hover{ box-shadow: 0px 4px 13px 0px rgba(0,0,0,.5); }
main .downloadResumeWrapper{ text-align: center; }
main .selfIntroduction {max-width: 930px; margin: 0px auto; font-family: "楷体"; font-weight: bold; font-size: 18px; line-height: 30px; text-align: center; }

/*专业技能*/
section.skills>ol{ padding: 30px 50px 10px; margin-top: 30px; background: white; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
section.skills>ol>li>h3{ font-size:14px; line-height: 1.1em; padding-right: 40px; margin: 10px 0px; }
section.skills>ol>li { width: 50%; box-sizing: border-box; }
section.skills>ol>li:nth-child(odd){ float: left; padding-right: 15px; }
section.skills>ol>li:nth-child(even){ float: right; padding-left: 15px; }
section.skills>ol>li .progressBar { height: 5px; background: #F9DEE0; border-radius: 2px; margin: 10px 0px 30px; overflow: hidden;}
section.skills>ol>li .progress{ height: 100%; background: #E05962; width: 50%; border-radius: 2px;  transform: translateX(0); transition: all 1s; }
section.skills.offset>ol>li .progress{  transform: translateX(-100%); }

/*作品集*/
section.portfolio{ text-align: center; margin-bottom: 60px; padding-bottom: 50px;}
section.portfolio .swiper-container{ width: 600px; height: 600px;}
section.portfolio .swiper-button {width: 64px;height: 64px;border-radius: 50%;background-color: rgba(255,255,255,.3);}
section.portfolio .swiper-button-prev{ right: 85%; left: auto;}
section.portfolio .swiper-button-next{right: auto; left: 85%;}

/*留言板*/

section.message {
	margin-bottom: 60px;
}

section.message>ol {
	max-width: 700px;
	height: 600px;
	margin: 0 auto;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	margin-bottom: 50px;
	overflow-y: scroll;
	background: #f4f4f4;
	border-radius: 10px;
	
}
section.message>ol>li {
	padding: 16px;
	margin: 20px 0;
	background: white;
	box-shadow: 0 0 0.2px 0.3px rgba(0, 0, 0, 0.24);
}
section.message>form {
	text-align: center;
	margin: 20px auto;
	word-spacing: 1em;
}
section.message>form>.inputItem {
	display:  inline-block;
	margin-right: 10px;
}